body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color_circle{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50%;
    border-top: 30px solid red;
    border-right: 30px solid orange;
    border-bottom: 30px solid yellow;
    border-left: 30px solid blue;
    margin: 100px auto 0 auto;
    animation: circle 5s linear infinite alternate;
}
@keyframes circle {
    from{
        transform: rotate(360deg) translateX(-300px) translateY(-50px);
    }
    to{
        transform: rotate(-360deg);
        background-color: rgba(106, 29, 174, 0.85);
    }
}
