*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
}
.main{
    padding:0 20px;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.month{
    margin-top: 20px;
    width: 300px;
    height: 250px;
    background-color: aqua;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    transition: 1s;
}
.month p, h1{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.month:hover{
    scale: 1.1;
    transition: 1s;
}
