@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
/*~~~~~~~~~~~~~~~~~~~~~~~GLOBAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #1E1E1E;
}

.w-1340 {
    width: 1340px;
    margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~NAVIGATION~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav {
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}

ul a {
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
}

/*~~~~~~~~~~~~~~~~~~~~~~~H1 (HEADER TITLE)~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header_title {
    width: 1255px;
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 107px;
    line-height: 89%;
    letter-spacing: -2%;
    text-align: center;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
}

.header_img {
    display: block;
    margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~SECTION (ABOUT)~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section_about {
    color: #1E1E1E;
    background-color: #D1EF53;
    height: 369px;
    border-radius: 30px;
    border-width: 4px;
    margin: 32px auto 64px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_about h2 {
    width: 533px;
    font-family: Bowlby One, sans-serif;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -2%;
    text-transform: uppercase;
}
.lorem_about{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 34px;
}
.lorem_about p {
    width: 521px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -2%;
}
.lorem_about .about_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 60px;
    border-width: 4px;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 16px 8px 1px -2px #000000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~SECTION (FOOD)~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.food {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food img{
    width: 650px;
    height: 753px;
    border: 4px solid #E9E3DC;
    border-radius: 30px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~SECTION (PEOPLE)~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.people{
    display: block;
    margin: 64px auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
    width: 895px;
    height: 235px;
    margin:  64px 222px 36px 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
footer h2{
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
}
footer button{
    width: 196px;
    height: 60px;
    background: #D1EF53;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;


}
