*{
    margin: 0;
}
.main{
    height: 300px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.block{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}
.block:hover{
    background-color: #2A7B9B;
    border-radius: 50%;
    transition: 2s;
}
