.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background: #D9D9D9;
}

main {
    grid-area: main;
    background: #A4A4A4;
}

footer {
    grid-area: footer;
    background: #D9D9D9;
}
