* {
    margin: 0;
}

section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

section p {
    text-align: center;
    width: 60%; /* Спочатку я використав педінг, але з шириною більш практично працювати, тому змінив*/
}

#section-1 {
    background-color: pink;
}

#section-2 {
    color: white;
    background-color: gray;
}
