.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 10% 35% 35% 20%;
    grid-template-areas:
            'header header header'
            'left-aside right-aside top-section '
            'left-aside right-aside bottom-section '
            'footer footer footer';
}

header {
    grid-area: header;
    background: #D9D9D9;
}

.left-aside {
    grid-area: left-aside;
    background: #A4A4A4;
}

.right-aside {
    grid-area: right-aside;
    background: #C1C1C1;
}

.top-section {
    grid-area: top-section;
    background: #7F7A7A;
}

.bottom-section {
    grid-area: bottom-section;
    background: #6B6161;
}

footer {
    grid-area: footer;
    background: #D9D9D9;
}
