* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header, footer {
    height: 22vh;
    background: #D9D9D9;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

main {
    height: 56vh;
    display: flex;
    justify-content: space-between;
}

main section {
    width: 46vw;
    display: flex;
    flex-direction: column;
}

main .higher_div {
    height: 50%;
    background: #827878;
}

main .lower_div {
    height: 50%;
    background: #B7ADAD;
}

main aside {
    width: 27vw;
    background: #C0BDBD;
}
