*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

h1, h3{
    margin: 10px 0;
    text-align: center;
}
.wrapper {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.product{
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20%;
    padding: 20px;
}
.product img{
    width: 70%;
    height: auto;
}
