.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas:
            'header header header'
            'left-aside top-section right-aside'
            'left-aside bottom-section right-aside'
            'footer footer footer';
}

header {
    grid-area: header;
    background: #D9D9D9;
}

.left-aside {
    grid-area: left-aside;
    background: #C0BDBD;
}

.top-section {
    grid-area: top-section;
    background: #827878;
}

.bottom-section {
    grid-area: bottom-section;
    background: #B7ADAD;
}

.right-aside {
    grid-area: right-aside;
    background: #C0BDBD;
}

footer {
    grid-area: footer;
    background: #D9D9D9;
}
