
#list-1 > ul > li:nth-child(even) {
    color: deeppink;
}

#list-2 > ul > li:nth-child(odd) {
    font-size: 22px;
}

#list-3 > ul > li:nth-child(2n+4)::after {
    content: "!";
}

#list-4 > ul > li:last-child {
    color: darkviolet;
}

#list-5 > ul > li:first-letter {
    font-size: 30px;
    color: red;
}
