* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    width: 1400px;
    height: 2214px;
    background: #071341;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
    width: 100%;
    height: 113px;
    background: #24204A;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #E5E5E5;
    padding-left: 115px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    padding-right: 115px;
}

nav a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #E5E5E5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 579px;
    width: 100%;
    background: #24204A;
}

.text {
    width: 570px;
    height: 366px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.one-posotion {
    width: 145px;
    height: 41px;
    border: 0;
    border-radius: 8px;
    background: #4B4864;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-posotion p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 5%;
    color: #8E88C1;
}

main h1 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    color: #FFFFFF;
    width: 50%;
}

main h1 + p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 5%;
    color: #8E88C1;
}

.about {
    width: 200px;
    height: 56px;
    border: 0;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0px 6px 20px 0px #00FFE033;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.lamp {
    width: 375px;
    height: 411px;
    border: 0;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0px 4px 50px 0px #00000040;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Under_Main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.under_main {
    width: 100%;
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.under_main h2 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 160px;
}

.under_main .just-text {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
    text-align: center;
    color: #8E88C1;
    padding-bottom: 50px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Sunny-1~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.sunny-1 {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.sunny-1 .info {
    width: 176px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~Sun-1~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sunny-1 .sun-1 {
    border: 0;
    border-radius: 8px;
    background: #FF6853;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-1 .sun-1 p {
    width: 56px;
    height: 56px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-1 .text {
    width: 120px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.sunny-1 .text h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.sunny-1 .text p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
    color: #8E88C1;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Sun-2~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sunny-1 .sun-2 {
    border: 0;
    border-radius: 8px;
    background: #FF537C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-1 .sun-2 p {
    width: 56px;
    height: 56px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Sun-3~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sunny-1 .sun-3 {
    border: 0;
    border-radius: 8px;
    background: #80D2C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-1 .sun-3 p {
    width: 56px;
    height: 56px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Sun-4~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sunny-1 .sun-4 {
    border: 0;
    border-radius: 8px;
    background: #3F50E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-1 .sun-4 p {
    width: 56px;
    height: 56px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Sun-5~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sunny-1 .sun-5 {
    border: 0;
    border-radius: 8px;
    background: #95CB7C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-1 .sun-5 p {
    width: 56px;
    height: 56px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Sunny-2~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.sunny-2 {
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    color: #8E88C1;
    text-align: center;
}

.sunny-2 .sun-1 {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 40px 16px 28px 16px;
}

.sunny-2 p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 5%;
    text-align: center;
}

.sunny-2 .sun {
    width: 52px;
    height: 52px;
    font-size: 32px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #071341;
}

footer p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #FFFFFF;
}
