* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
    height: 4vh;
    background: #D9D9D9;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
    height: 74vh;
    display: flex;
    justify-content: space-between;
}

main .left_section {
    width: 60vw;
    background: #A4A4A4;
}

main .right_section {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

main .higher_div {
    height: 40vh;
    background: #7F7A7A;

}

main .lower_div {
    height: 34vh;
    background: #615050;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Under_main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.under_main {
    height: 10vh;
    background: #D9D9D9;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
    height: 12vh;
    background: #AFA9A9;
}
