body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.block{
    width: 300px;
    height: 300px;
    background-color: blue;
    animation: block 4s linear infinite alternate;
}

@keyframes block {
    0% {
        transform: scale(2) rotate(180deg);
    }
    25%{
        transform: scale(1.5);
        border-radius: 0;
    }
    50%{
        background-color: blueviolet;
        border-radius: 50%;
    }
    75%{
        transform: scale(1.5);
        border-radius: 0;
    }
    100% {
        transform: scale(1) ;
        background-color: rebeccapurple;
    }
}
