body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 1180px;
    gap: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

section {
    width: 372px;
    text-align: center;
}

h1, h2{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}
p{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color: #3C3C43;
}
