* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
    height: 4vh;
    background: #D9D9D9;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
    height: 86vh;
    display: flex;
    justify-content: space-between;
}

main .left_section {
    display: flex;
    justify-content: space-between;
}

main .right_section {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

main .left_div {
    width: 29vw;
    background: #A4A4A4;
}

main .right_div {
    width: 31vw;
    background: #C1C1C1;
}

main .higher_div {
    height: 50%;
    background: #7F7A7A;
}

main .lower_div {
    height: 50%;
    background: #6B6161;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
    height: 10vh;
    background: #D9D9D9;
}
